<div id="landing" class="height-100 col-md-6">
  <div id="login" class="height-100 col-md-6">
    <div>Already a member? Login to Gull here.</div>
    <form class="form-horizontal" {{action "loginUser" on="submit"}}>
      <div class="form-group">
        {{input type="text" value=email class="col-md-12" placeholder="Email"}}
      </div>
      <div class="form-group">
        {{input type="password" value=password class="col-md-12" placeholder="Password"}}
      </div>
      <button class="btn btn-default btn-lg btn-block" type="submit">Login</button>
    </form>
  </div>
  <vr/>
  <div id="registration" class="height-100 col-md-6">
    <div>New to Gull? Register here.</div>
    <form class="form-horizontal" {{action "createAndLoginUser" on="submit"}}>
      <div class="form-group">
        {{input type="text" value=email class="col-md-12" placeholder="Email"}}
      </div>
      <div class="form-group">
        {{input type="text" value=firstName class="col-md-12" placeholder="*First Name"}}
      </div>
      <div class="form-group">
        {{input type="text" value=lastName class="col-md-12" placeholder="*Last Name"}}
      </div>
      <div class="form-group">
        {{input type="password" value=password class="col-md-12" placeholder="Password"}}
      </div>
      <button class="btn btn-default btn-lg btn-block" type="submit">Register</button>
    </form>
  </div>
</div>
<script>
  $(function() {
    var BV = new $.BigVideo();
    BV.init();
    BV.show('http://vjs.zencdn.net/v/oceans.mp4', {ambient: true});
  });
</script>
